html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --amarillo-claro: #0F0F0F;
    --verde-claro: #232D3F; 
    --verde-intenso: #005B41;
    --verde-azulado: #008170;
}

body {
    font-family: "Raleway", sans-serif;
    background-color: var(--amarillo-claro); 
}

.bg-header {
    background-image: url('../assets/img/pexels-alexant-4585185.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 0.3em solid var(--verde-intenso); 
}

.container {
    width: 80%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    margin-top: -2rem;
    border: 0.3em solid var(--verde-intenso); 
    background-color: var(--verde-claro);
    border-radius: 2em;
    width: 80%;
    max-width: 1280px;
    min-height: calc(100vh - altura-del-footer);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2rem;
    position: relative;
    z-index: 2;
}

.main_title {
    text-transform: uppercase;
    color: #FFEA20; 
}

.container {
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 2em;
    border-radius: 1em;
    padding: 1em;
}

.container_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 0.3em solid #FFEA20; 
    border-radius: 2em;
    margin-bottom: 1em;
    height: 25em;
    width: 25em;    
    background-color: var(--amarillo-claro); 
}

.container_encriptar {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 0.5em;
    margin-bottom: 1em;
    text-align: center;
    padding: 1em;
}

.presentacion_botones {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.style_textarea {
    display: block; 
    box-sizing: border-box;
    width: 100%;
    border-style: none;
    height: 10em;
    background-color: transparent;
    color:var(--verde-intenso);
    outline: none;
    overflow-wrap: break-word;
    resize: none;
    white-space: pre-wrap; 
}

.style_mensaje{
    display: block; 
    box-sizing: border-box;
    width: 100%;
    border-style: none;
    height: 10em;
    background-color: transparent;
    color:var(--verde-intenso);
    outline: none;
    resize: none;
}

.container_boton {
    border-radius: 1em;
    padding: 1em 1em;
    width: 100%;
    font-size: 1em;
    font-weight: 700;
    border: none;
    background-color: var(--verde-intenso); 
    color: var(--amarillo-claro); 
}

button:hover{
    background-color: #FFEA20;
    color: var(--verde-claro);
}

.informativo {
    color: var(--verde-intenso);
    margin: 0;
}

.icono {
    width: 1.5em; 
    height: auto;
    margin-right: 0.5em;
    vertical-align: middle;
}

.container_secundario {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 0.3em solid #FFEA20; 
    border-radius: 2em;
    margin-bottom: 1em;
    height: 25em;
    width: 25em;    
    background-color: var(--amarillo-claro); 
}

.container_desencriptar {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em;
    overflow: hidden;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.footer {
    background-image: url('../assets/img/pexels-alexant-4585185.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-top: 1.5em;
    padding-bottom: 1em;
    position: relative;
    margin: 0;
    z-index: 1;
    border-top: 0.3em solid #FFEA20;
}

.footer p {
    text-align: center;
    color: var(--verde-azulado); 
}

@media (max-width: 800px) {
    * {
        flex-direction: column;
        margin: 0;
        text-align: center;
        padding: 0;
    }

    .page-title {
        font-size: 1rem;
    }

    body, .main {
        margin: 0;
        padding: 0;
    }

    .main {
        margin: 0 auto; /* Centra el contenedor horizontalmente */
        padding: 0 1rem; /* Añade un poco de espacio a los lados */
        width: 100%; /* Ocupa el ancho total de la pantalla */
        max-width: 1280px; /* Limita el ancho máximo */
    }

    .container_principal, .container_secundario {
        height: auto; /* Deja que la altura se ajuste automáticamente */
        width: 100vw;  /* Ocupa todo el ancho disponible, incluyendo posibles márgenes */
        margin: 0; /* Elimina el margen para ocupar todo el ancho */
        padding: 0; /* Elimina padding para asegurar que ocupe todo el ancho */
    }

    .icono {
        width: 0.5em; 
        height: auto;
        margin-right: 0.5em;
        vertical-align: middle;
    }
}
